body {
  color: white;
  background-color: grey;
  font-family: "Roboto", sans-serif;
}

#header {
  display: flex;
  justify-content: space-between;
}

#overlay {
  width: 800px;
  height: 400px;
  font-size: 1.3rem;
  background-color: rgba(128, 128, 128, 0.8);
}

#header span { font-size: 2rem; }

#main-button {
  width: 220px;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 80px;
  background-color: rgb(36, 183, 202);
  color: white;
  text-align: center;
  padding: 5px 0;
}

#overlay-left {
  display: flex;
  flex-direction: row;
  align-content: start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 40%;
}

#overlay-right {
  background-color: rgb(36, 183, 202);
  width: 60%;
  margin-left: 2%;
}

#info-text { padding: 20px; }

.overlay-content {
  display: flex;
  height: 100%;
}

.info-box {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(36, 183, 202);
  background-color: white;
  width: 140px;
  height: 65px;
  padding: 4px;
  margin: 0 8px 8.5px 0;
}

.selected {
  background-color: rgb(36, 183, 202);
  color: white;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width:760px){
  
  #header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px 0 5px;;
  }
  
  #overlay {
    width: 100%;
    height: 90%;
    background-color: rgba(128, 128, 128, 1);
  }
  
  #overlay-left {
    width: 100%;
    margin-bottom: 3px;
  }
  
  #overlay-right {
    width: 100%;
    margin: 0%;
  }
  
  .overlay-content {
    flex-direction: column;
    align-items: center;
  }

  .info-box {
    margin: 6px;
  }

  .centered {
    position: absolute;
  }

}